/* Google Fonts Import - Russo One & Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
section {
    font-family: 'Roboto', sans-serif;
    background-color: #F5EDE5;
    color: #36454F;
}

h1,
h2,
h3 {
    font-family: 'Russo One', sans-serif;
    color: #DB3D44 !important;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 900px;
    /* margin-bottom: unset !important; */
    margin: 0 auto !important;
}

.quote-footer {
    color: #485c69;
    font-size: 1.3rem;
}

/* Header */

.header {
    background: #F5EDE5;
    padding: 0 10px 0;
    text-align: center;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.custom-toggler {
    border: none !important;
}

.toggler-close {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .toggler-bars {
    display: none; /* Removes bars icon when navbar is expanded */
}

.navbar-toggler[aria-expanded="true"] .toggler-close {
    display: inline-block; /* Displays close icon when navbar is expanded */
}

.custom-toggler i {
    font-size: xx-large;
    color: #2F3061;
}

.navbar-nav .nav-item {
    padding-left: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active i {
    color: #2F3061;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover i {
    color: #5E5FA9;
    font-weight: bold;
}

/* Index Main Content */

.hero-section img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 86px; /* Adjusted for fixed navbar */
}

.cta-buttons .btn {
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 10px;
    background-color: #2F3061;
    color: #F5EDE5;
}

.cta-buttons .btn:hover {
    background-color: #5E5FA9;
    color: #F5EDE5;
}

/* Footer */

.footer-section,
.footer-section .container {
    background-color: #36454F;
    color: #F5EDE5;
}

.footer-section i {
    font-size: 3rem;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section a {
    color: #F5EDE5;
    text-decoration: none;
    font-weight: bold;
    font-style: italic
}

.footer-section a:hover {
    color: #DB3D44;
}

@media (max-width: 991px) {
    /* General Styling */

    p {
        font-size: 1.25rem;
    }

    .quote-footer {
        font-size: 1.1rem;
    }

    /* Header Section */

    .navbar-brand img {
        height: 45px;
    }
    
    .navbar-collapse {
        text-align: left;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 1.1rem;
    }

    /* Index Main Section */

    .hero-section img {
        margin-top: 71px;
    }

    /* Footer */
    .footer-section i {
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {
    /* General Styling */

    p {
        font-size: 1rem;
        text-align: left;
    }

    .quote-footer {
        color: #485c69;
        font-size: 0.85rem;
    }

    /* Header Section */

    .navbar-brand img {
        height: 35px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    /* Index Main Section */

    .hero-section img {
        margin-top: 61px;
    }

    .index-main .blockquote {
        font-size: 1rem !important;
    }

    .cta-buttons .btn {
        font-size: 1.25rem;
    }

    /* Footer */
    .footer-section i {
        font-size: 2rem;
    }
}