/* Google Fonts Import - Russo One & Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-padding-top: 86px; /* Allows section divider navigation to account for fixed navbar */
}

section {
    font-family: 'Roboto', sans-serif;
    color: #36454F;
    background-color: #ECDAC7;
}

main {
    flex: 1;
    background-color: #ECDAC7;
}

h1,
h2,
h3 {
    font-family: 'Russo One', sans-serif;
    color: #DB3D44 !important;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto !important;
}

.quote p {
    font-style: italic;
    max-width: 800px;
}

.quote-footer {
    color: #485C69;
    font-size: 1.3rem;
}

.large-heading {
    font-size: 4rem;
}

/* Section Divider */

.section-divider {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divider-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.divider-line {
    height: 4px;
    background-color: #2F3061;
    border-radius: 2px;
    flex-grow: 1;
}

.section-divider a {
    font-size: 25px;
    color: #2F3061;
}

.section-divider a:hover {
    color: #5E5FA9;
}

.section-divider .btn {
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50px;
    background-color: #2F3061;
    color: #ECDAC7;
}

.section-divider .btn:hover {
    background-color: #5E5FA9;
    color: #ECDAC7;
}


/* General Header */

.header {
    background: #E7CEB3;
    padding: 0 10px 0;
    text-align: center;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.custom-toggler {
    border: none !important;
}

.toggler-close {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .toggler-bars {
    display: none; /* Removes bars icon when navbar is expanded */
}

.navbar-toggler[aria-expanded="true"] .toggler-close {
    display: inline-block; /* Displays close icon when navbar is expanded */
}

.custom-toggler i {
    font-size: xx-large;
    color: #2F3061;
}

.navbar-nav .nav-item {
    padding-left: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active i {
    color: #2F3061 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover i {
    color: #5E5FA9;
    font-weight: bold;
}

/* Index Main */

.hero-section img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 86px; /* Adjusted for fixed navbar */
}

.cta-buttons .btn {
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 50px;
    background-color: #2F3061;
    color: #ECDAC7;
}

.cta-buttons .btn:hover {
    background-color: #5E5FA9;
    color: #ECDAC7;
}

/* About Main */

.timeline {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.timeline .container {
    position: relative;
    width: 50%;
    margin: 0;
}

.timeline-date {
    background: #2F3061;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    right: -40px;
    top: calc(50% - 40px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-container .timeline-date {
    left: -40px;
}

.timeline-date p {
    color: #ECDAC7;
    font-size: 1.25rem;
}

.timeline .text-box {
    padding: 0 40px;
    position: relative;
    border-radius: 6px;
}

.first-text-box {
    padding-top: 0 !important;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.raised-container {
    margin-bottom: -50px !important;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background: #2F3061;
    top: 0;
    left: 50%;
    margin-left: -5px;
}

.legend-container {
    max-width: 1200px;
    margin: auto;
}

.legend-img {
    /* max-width: 300px; */
    border-radius: 50%;
}

.media-section p {
    text-align: center;
    max-width: 1000px;
}

.media-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Cars Main */

.car-tiles-container {
    max-width: 1600px;
    margin: auto;
}

.car-tile {
    background-color: #2F3061;
    color: #ECDAC7;
    font-size: 1.25rem;
    border-radius: 20px;
}

.car-tile:hover {
    background-color: #5E5FA9;
}

.modal-header {
    background-color: #E7CEB3;
}

.modal-body {
    background-color: #ECDAC7;
    color: #36454F;
}

.list-unstyled,
.modal-body table {
    font-size: 1.25rem;
}

.list-unstyled i {
    color: #2F3061;
}

.specs-table {
    border-radius: 10px;
    overflow: hidden;
}

.specs-table th {
    background-color: #2F3061;
    color: #ECDAC7;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.specs-table td {
    background-color: #ACA9BB;
    padding: 0.75rem;
    font-size: 1.25rem;
}

.specs-table td:nth-child(odd) {
    font-weight: bold;
}

.specs-table tr:nth-child(even) td {
    background-color: #D1CFDB;
}

/* Contact Main */

.contact-container {
    margin-top: 86px; /* Adjusted for fixed navbar */
    min-height: calc(100vh - 86px - 144px); /* Adjusted for fixed navbar and footer */
}

.contact-container > div {
    max-width: 900px;
}

.contact-form .btn {
    font-weight: bold;
    border-radius: 50px;
    background-color: #2F3061;
    color: #ECDAC7;
}

.contact-form .btn:hover {
    background-color: #5E5FA9;
    color: #ECDAC7;
}

/* General Footer */

.footer-section,
.footer-section .container {
    background-color: #36454F;
    color: #ECDAC7;
}

.footer-section i {
    font-size: 3rem;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section a {
    color: #ECDAC7;
    text-decoration: none;
    font-weight: bold;
    font-style: italic
}

.footer-section a:hover {
    color: #DB3D44;
}

/* 404 Page */

.error-container {
    min-height: 100vh;
}

.error-container .btn {
    font-weight: bold;
    font-size: 1.75rem;
    width: 200px;
    border-radius: 50px;
    background-color: #2F3061;
    color: #ECDAC7;
}

.error-container .btn:hover {
    background-color: #5E5FA9;
    color: #ECDAC7;
}

@media (max-width: 1199px) { /* Controls car tiles width before bootstrap xl breakpoint */
    .car-tiles-container {
        max-width: 800px;
    }
}

@media (max-width: 991px) {
    /* General Styling */

    html {
        scroll-padding-top: 71px; /* Allows section divider navigation to account for fixed navbar */
    }

    p {
        font-size: 1.25rem;
    }

    .quote-footer {
        font-size: 1.1rem;
    }

    /* General Header */

    .navbar-brand img {
        height: 45px;
    }
    
    .navbar-collapse {
        text-align: left;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 1.25rem;
    }

    /* Index Main */

    .hero-section img {
        margin-top: 71px;
    }

    /* Cars Main */

    .car-tile {
        font-size: 1.25rem;
    }

    .specs-table th {
        font-size: 1.25rem;
        padding: 0.75rem;
    }
    
    .specs-table td {
        font-size: 1rem;
    }

    /* Contact Main */

    .contact-container {
        margin-top: 71px; /* Adjusted for fixed navbar */
        min-height: calc(100vh - 71px - 137px); /* Adjusted for fixed navbar and footer */
    }

    .contact-container > div {
        max-width: 600px;
    }

    /* General Footer */
    .footer-section i {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) { /* Controls car tiles width before bootstrap md breakpoint */
    .car-tiles-container {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    /* General Styling */

    html {
        scroll-padding-top: 61px; /* Allows section divider navigation to account for fixed navbar */
    }

    p {
        font-size: 1rem;
        text-align: left;
    }

    .quote-footer {
        color: #485C69;
        font-size: 0.85rem;
    }

    .large-heading {
        font-size: 2rem;
    }

    /* Section Divider */

    .section-divider {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    /* General Header */

    .navbar-brand img {
        height: 35px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    /* Index Main */

    .hero-section img {
        margin-top: 61px;
    }

    .index-main .blockquote {
        font-size: 1rem !important;
    }

    .cta-buttons .btn {
        font-size: 1.25rem;
    }

    /* About Main */

    .timeline::after {
        left: 27px;
    }
    
    .timeline .container {
        width: 100%;
        padding-left: 52px;
        padding-right: 1rem;
    }
    
    .timeline-date {
        width: 50px;
        height: 50px;
        left: 2px;
        top: calc(50% - 25px);
    }
    
    .right-container .timeline-date {
        left: 2px;
    }
    
    .timeline-date p {
        font-size: 0.8rem;
    }
    
    .left-container {
        left: 0;
    }
    
    .right-container {
        left: 0;
    }

    .raised-container {
        margin-bottom: unset !important;
    }

    .timeline .text-box {
        padding: 20px 10px 0;
    }

    .legend-img {
        border-radius: 50%;
        max-width: 200px !important;
    }

    /* Cars Main */

    .car-tile {
        font-size: 1rem;
    }

    .specs-table th {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .specs-table td {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    /* Contact Main */

    .contact-container {
        margin-top: 61px; /* Adjusted for fixed navbar */
        min-height: calc(100vh - 61px - 130px); /* Adjusted for fixed navbar and footer */
    }

    /* General Footer */

    .footer-section i {
        font-size: 2rem;
    }

    /* 404 Page */
    
    .error-container .btn {
        font-size: 1rem;
    }
}